body {
	background:#121212;
	font:1em Trebuchet MS;
	word-spacing:2px;
	color:#545454;
	margin:0;
}

* {
	margin:0;
	padding:0;
}

a {
	color:#999;
	border-bottom:1px dotted #232323;
	text-decoration:none;
	padding:2px 4px 2px 4px;
}
a:hover {
	border-bottom:1px dotted #99CC33;
	background:#101010;
}

h2 {
	font:24px Arial, sans-serif;
	color:#99CC33;
	letter-spacing:-1px;
	font-weight:normal;
	margin:15px 0 15px 0;
}
h2.first {
	margin:0 0 15px 0;
}
h2 a {
	color:#99CC33;
	text-decoration:none;
	border:none;
	padding:0;
}
h2 a:hover {
	border:none;
	background:none;
}
h3 {
	font-size:1.2em;
	color:#ccc;
	font-weight:normal;
	margin:15px 0 15px 0;
}
p {
	line-height:24px;
	margin:25px 0 25px 0;
}
blockquote {
	font-size:1.7em;
	margin:35px 150px 35px 0;
	color:#787878;
	padding:15px 0 0 0;
	font-family:Georgia, "Times New Roman", Times, serif;
}
blockquote p {
	line-height:40px;
}

#sidebar {
	width:263px;
	background:url(../images/sidebar.jpg) top left no-repeat;
	float:left;
	padding:20px 20px 50px 20px;
}
#sidebar p {
	font-size:0.9em;
}
#sidebar a {
	color:#ccc;
	border:none;
}
#sidebar a:hover {
	text-decoration:underline;
	color:#eee;
	border:none;
}
#sidebar h1 {
	color:#fff;
	font-size:1.7em;
}
#sidebar h1 a {
	color:#fff;
	text-decoration:none;
	padding:0;
}
#sidebar h1 a:hover {
	text-decoration:none;
}
ol#nav {
	margin:25px 15px 25px 30px;
	font-size:1.3em;
}
ol li {
	margin:15px 0 15px 0 !important;
	margin:-10px 0;
}
#nav a {
	display:block;
	margin:0;
	color:#99CC33;
	border:none;
}
#nav a b {
	float:right;
	display:none;
	color:#333;
}
#nav a:hover {
	background:none;
	border:none;
	text-decoration:none;
}
#nav a:hover b {
	display:inline;
}
#content {
	margin:0 10% 0 300px;
	background:url(../images/content.jpg) top left no-repeat;
	padding:20px;
}
#content ul {
	margin:15px 15px 15px 15px;
	list-style:none;
}
#content ul li {
	margin:10px 0;
	padding:0 0 0 15px;
	background:url(../images/bp.gif) left no-repeat;
}
#content img {
	padding:1px;
}
.postdata {
	font:11px Verdana;
	margin:-6px 0 -15px 0;
	color:#777;
}
#footer {
	padding:30px;
	text-align:center;
	border-top:3px solid #333;
	margin:50px 0 0 0;
	background:#000;
}

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #333;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
	

}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
	background: #333;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
	border-radius: 5px;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
	border:1px solid #333;
	background: #355;
	border-radius: 3px;
}